* {
    margin: 0;
    padding: 0;
    font-family: "GHEAGrpalatReg";
}

@font-face {
    font-family: "GHEAGrpalatReg";
    src: url("GHEAGrpalatReg.otf");
}

#wrapper {
    position: absolute;
    height: 663px;
}

.container {
    position: absolute;
    display: inline-block;
    top: 136px;
    -webkit-box-shadow: 2px 2px 3px 2px #888888;
    box-shadow: 2px 2px 3px 2px #888888;
    border-radius: 10px;
    overflow: hidden;
    height: 278px;
    width: 160px;
    text-align: center;
    cursor: pointer;
}

h4 {
    border-bottom: 1px solid gray;
    margin: 3px 7px 12px 7px;
}

.container2 {
    left: 400px;
}

.img {
    display: block;
    position: relative;
    width: 160px;
}

.container p {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    overflow: hidden;
    line-height: 1;
    height: 112px;
    font-size: 14px;
    color: #888888;
    margin: auto 5px;
    text-align: left;
}

#line {
    display: inline-block;
    position: absolute;
    border-bottom: 2px solid black;
    width: 236px;
    left: 162px;
    margin-top: 136px;
    top: 136px;
    text-align: center;
}